.main_body_start {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_side p {
  text-transform: uppercase;
  color: #afa6bf;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.text_side h2 {
  color: white;
  font-size: 35px;
  letter-spacing: 2px;
}

.text_side button {
  background: var(--primary-color);
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.text_side button:hover {
  background: #e9dcffc0;
}

.photo_side {
  height: 500px;
  width: 280px;
  border-radius: 20px;
  background: #1c272a;
  box-shadow: 20px 10px 30px -10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.history_main_title {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}
.history_content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
  color: white;
}
.icon_and_name {
  display: flex;
  gap: 20px;
}
.icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day_name {
  color: rgb(134, 126, 126);
  font-size: 12px;
  display: block;
}

.history_title h3 {
  font-size: 16px;
}
.history_dollar {
  font-weight: bold;
}
.icon {
  background: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}

.bottom_nav {
  background: #2b2d3d;
  border-radius: 5px 5px 20px 20px;
  padding: 10px;
  margin: 0px;
  position: absolute;
  bottom: 1px;
  width: 100%;
}
.bottom_nav_item {
  display: flex;
  justify-content: space-between;
}
